<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tema6-Ej1hoja2/src/FusionCuentas.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="FusionCuentas"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tema6-Ej1hoja2"/>
</launchConfiguration>
